.login-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 90%;
    max-width: 1110px;
    margin: auto;
  }
  *{
    background-color: #FFFFFF;
    color: #e2e0ef;
  }
  .showPass{
    display: flex;
    align-items: center;
    align-self: flex-start;
    margin-top: 10px;
  }
  .lb{
    color: #000000;
    font-size: 14px;
    padding-bottom: 2px;
  }
  .fl1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #000000;
  }
  .pp{
    align-self: flex-end;
    color: #000000;
    cursor: pointer;
    font-size: 14px;
  }
  .sp{
    font-weight: 500;
    color: #000000;
    font-size: 16px;
    color: #1852A9;
  }

  
  @media screen and (min-width: 992px) {
    .login-form-container {
      flex-direction: row;
      justify-content: space-around;
    }
  }
  
  .login-website-logo-mobile-img {
    width: 220px;
    margin-top: 50px;
    margin-bottom: 35px;
  }
  
  @media screen and (min-width: 992px) {
    .login-website-logo-mobile-img {
      display: none;
    }
  }
  
  .login-img {
    width: 278px;
  }
  
  @media screen and (min-width: 992px) {
    .login-img {
      width: 40%;
      max-width: 524px;
      flex-shrink: 1;
      margin-right: 20px;
    }
  }
  
  .login-website-logo-desktop-img {
    width: 185px;
  }
  
  @media screen and (max-width: 991px) {
    .login-website-logo-desktop-img {
      display: none;
    }
    .login-img{
        display: none;
      }
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 350px;
  }
  
  @media screen and (min-width: 992px) {
    .form-container {
      width: 350px;
      flex-shrink: 0;
      box-shadow: 0px 8px 40px rgba(7, 7, 7, 0.08);
      padding: 64px 48px 64px 48px;
    }
  }

  
  
  .input-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
  }
  
  .input-label {
    margin-bottom: 0px;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
  }
  
  .username-input-field {
    font-size: 14px;
    height: 40px;
    border: 0px solid #d7dfe9;
    background-color: #F0F0F0;
    color: #000000;
    border-radius: 9px;
    margin-top: 5px;
    padding: 8px 16px 8px 16px;
    outline: none;
  }
  
  .password-input-field {
    font-size: 14px;
    height: 40px;
    border: 0px solid #d7dfe9;
    background-color: #F0F0F0;
    color: #000000;
    border-radius: 9px;
    margin-top: 5px;
    padding: 8px 16px 8px 16px;
    outline: none;
  }
  .password-input-field::placeholder { 
    opacity: 1;
    color:#2E3833;
 }
 .username-input-field::placeholder {
    opacity: 1;
    color:#2E3833;
 }
  
  .login-button {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    height: 40px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 2px;
    background-color: #2DC123;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    outline: none;
  }
  
  .error-message {
    align-self: start;
    font-size: 12px;
    margin-top: 3px;
    margin-bottom: 0px;
    font-family: 'Roboto';
    font-size: 12px;
    line-height: 16px;
    color: #ff0b37;
  }